@import "bootstrap";

@navbar-height: 50px;
@margin: 15px;

hr {
    margin-top: 5px;
    &.is-bigger-margin {
        margin-bottom: 155px;
    }
}

.red {
    color: #EC7F7F;
}

.green {
    color: #81C870
}

.blue {
    color: #7F96EC;
}

.grey {
    color: #979797;
}

.project-dropdown {
    margin-top: 11px;
}

.project-menu {
    width: 100%;
    font-family: HelveticaNeue;
    font-size: 22px;
    color: #FFFFFF;
    line-height: 27px;
    letter-spacing: 1px;

    margin-top: 1px;
}

.project-picker {
    font-family: HelveticaNeue;
    font-size: 22px;
    color: #F5A623;
    line-height: 27px;
    letter-spacing: 1px;

    margin-top: 1px;
    &:hover {
        color: #FFFFFF;
        text-decoration: none;
    }
}

.navbar-brand {
    padding: 0;
    margin-top: 4px;
}

.dash-card-common {
    margin: 15px 0 15px 0;
    background: #FFFFFF;
    -moz-box-shadow:    0px 0px 9px 0px #ECECEC;
    -webkit-box-shadow: 0px 0px 9px 0px #ECECEC;
    box-shadow:         0px 0px 9px 0px #ECECEC;
}

.navbar {
    background-color: #525469;
    height: @navbar-height;
}

.btn-about {
    float: right;
    width: 150px;
    margin-top: 7px;

    font-family: HelveticaNeue;
    font-size: 16px;
    color: #F5A623;
    line-height: 18px;
    letter-spacing: 1px;

    background: rgba(0,0,0,0);
    border-radius: 0px;
    border: 3px solid #F5A623;

    &:hover {
        color: #FFF;
        border: 3px solid #FFF;
    }
}

.repo-summary-text {
    text-align: center;
    margin: 20px @margin 20px @margin;

    font-family: HelveticaNeue-UltraLight;
    font-size: 26px;
    color: #222222;
    line-height: 31px;

    .bold-text {
        font-family: HelveticaNeue-Light;
    }
}

.days-filter {
    .dash-card-common;
    margin: 30px auto 10px auto;
    padding: 6px;
    width: 480px;
    height: 70px;

    font-family: HelveticaNeue-Thin;
    font-size: 18px;
    color: #000000;
    line-height: 22px;
    letter-spacing: 1px;

    &.is-fixed-days-filter {
        position: fixed;
        z-index: 1000;
        top: 20px;
        left: 50%;
        transform: translate(-50%, 0);
    }


    .ui-slider {
        width: 390px;
        height: 1px;
        margin: 9px 5px 0 5px;
        float: left;

        background: #979797;
        border: 0;

        .ui-slider-horizontal {
        }
        .ui-slider-handle {
            width: 11px;
            height: 20px;
            top: -10px;
            background: #D8D8D8;
            border: 1px solid #979797;
            border-radius: 0;
            -moz-box-shadow:    0px 0px 2px 0px rgba(0,0,0,0.50);
            -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.50);
            box-shadow:         0px 0px 2px 0px rgba(0,0,0,0.50);
        }
    }

    .slider-min {
        margin-left: 20px;
        float: left
    }
    .slider-max {
        float: left;
    }

    .days-filter-text {
        margin: 0 auto 0 auto;
        text-align: center;

    }

    .days-filter-slider {
        margin-top: 10px;
    }
}

.navbar-brand {
    color: #FFFFFF;
}

.app-content {
    max-width: 970px;
    padding: 0 25px 25px 25px;
    margin: @navbar-height auto 0 auto;
    background: #F9F9F9;
}

.dash-headline {
    font-family: HelveticaNeue-Thin;
    font-size: 20px;
    color: #979797;
    line-height: 24px;
    letter-spacing: 1px;
    margin: 50px auto 0 auto;
    text-align: center;
}

.dash-card {
    .dash-card-common;
    height: 100px;
    padding: 4px;
    text-align: center;
}

.dash-card-header {
    margin-top: 4px;
    font-family: HelveticaNeue-Light;
    font-size: 13px;
    color: #979797;
    line-height: 16px;
    letter-spacing: 0px;
}

.dash-card-value {
    margin: 1px;
    font-family: HelveticaNeue-Light;
    font-size: 40px;
    line-height: 49px;
    letter-spacing: 3px;

    .size-unit {
        font-size: 24px;
    }
}

.dash-card-footer {
    font-family: HelveticaNeue-Light;
    font-size: 13px;
    color: #979797;
    line-height: 16px;
    letter-spacing: 0px;
}

.dash-chart {
    .dash-card-common;
    height: 300px;

    &.with-totals {
        height: 400px;
    }
}

.chart {
    width: 100%;
    height: 100%;
}

.chart-total {
    margin: 5px 0 5px 0;
    font-family: HelveticaNeue-Light;
    font-size: 30px;
    line-height: 49px;
    letter-spacing: 3px;
}

.chart-wrapper {
    height: 325px;
}

.morris-hover{position:absolute;z-index:1000;}
.morris-hover.morris-default-style{border-radius:0px;padding:6px;color:#666;background:rgba(246, 246, 246, 0.95);border:solid 2px rgba(230, 230, 230, 0.8);font-family:sans-serif;font-size:12px;text-align:center;}
.morris-hover.morris-default-style .morris-hover-row-label{font-weight:bold;margin:0.25em 0;}
.morris-hover.morris-default-style .morris-hover-point{white-space:nowrap;margin:0.1em 0;}
