@import "bootstrap";

.navbar {
    background-color: #2C0B4A;
}

.navbar-brand {
    color: #FFFFFF;
}

.app-content {
    max-width: 970px;
    margin: 10px auto 0 auto;
    background-color: #EEEEEE;
}

.dash-card {
    height: 60px;
    background-color: white;
    border: 1px solid #CCCCCC;
    margin: 15px 0 15px 0;
}

.dash-card-header {
    margin-top: 5px;
    color: #CCCCCC;
    .center-block();
}

.dash-chart {
    height: 200px;
    margin: 15px 0 15px 0;
    background-color: white;
    border: 1px solid #CCCCCC;
}
