<div class="summary">
    Summary
    <div class="row">
        <div class="col-sm-3">
            <div class="dash-card">
                <span class="dash-card-header">Commits</span>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="dash-card">
                <span class="dash-card-header">MB</span>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="dash-card">
               <span class="dash-card-header">Files</span>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="dash-card">
                <span class="dash-card-header">Authors</span>
            </div>
        </div>
    </div>
</div>
<div class="winners">
    Winners
    <div class="row">
        <div class="col-sm-3">
            <div class="dash-card">
                <span class="dash-card-header">Lines Added</span>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="dash-card">
                <span class="dash-card-header">Lines Deleted</span>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="dash-card">
               <span class="dash-card-header"># of Commits</span>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="dash-card">
                <span class="dash-card-header">Size</span>
            </div>
        </div>
    </div>
</div>

<div class="charts">
    <div class="row">
        <div class="col-sm-6">
            <div class="dash-chart">
                <span class="dash-card-header">Chart 1</span>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="dash-chart">
                <span class="dash-card-header">Chart 2</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="dash-chart">
                <span class="dash-card-header">Chart 1</span>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="dash-chart">
                <span class="dash-card-header">Chart 2</span>
            </div>
        </div>
    </div>
</div>

{{outlet}}
